*{
    margin: 0;
    padding: 0;
}
#top{
    width: 100%;
    height: 25rem;
    background-color: #FF8A00;
    display: flex;
    align-items: center;
}
#top_one{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_one>img{
    width: 50%;
    height: auto;
}
#top_two{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_two>img{
    width:40%;
    height: auto;
}
#top_the{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_the>img{
    width: 40%;
    height: auto;
}
/* ------------------------------------------- */
#shouye{
    width: 100%;
    height: 20rem;
    line-height: 20rem;
    font-size: 8rem;
    border-bottom: 1px solid rgb(188, 184, 184);
}
#shouye>span{
    font-weight: 600;
    margin-left: 20px;
}
.swiper{
    width: 100%;
    height: 110rem;
}
.swiper-slide>img{
    width: 100%;
    height: 100%;
}
#fly{
    width: 100%;
    height: 44rem;
    background-color: #F5F5F5;
    border-bottom: 1px solid rgb(206, 201, 201);
    display: flex;
}
#fly_one{
    flex: 3.7;
    border-right: 1px solid rgb(192, 188, 188);
    font-size: 10rem;
    font-weight: 600;
    display: flex;
    padding: 0px 20px;
    box-sizing: border-box;
    align-items: center;
}
#fly_two{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------------------------------------------ */
#money{
    width: 100%;
    height: 60rem;
    background-color: #F5F5F5;
    border-bottom: 1px solid rgb(213, 210, 210);
    display: flex;
    align-items: center;
}
#money_one{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#money_two,#money_thr{
    width: 100%;
    height: 30%;
    border-left: 1px solid rgb(220, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orange{
    color: orange;
}
/* --------------------------------------------- */
#build{
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(211, 209, 209);
}
.build_one{
    width: 100%;
    height: 30rem;
    display: flex;
    border-bottom: 1px solid rgb(194, 190, 190);
}
.left_one{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 8rem;
}
#build>div:nth-of-type(3){
    border-bottom: none;
}
/* ---------------------------------------------- */
#man{
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#man_one{
    width: 90%;
    margin-top: 20px;
    background-color: white;
}
.man_people{
    width: 100%;
    height: 26rem;
    font-size: 10rem;
    color: orange;  
    font-weight: 600;
    border-bottom: 1px solid rgb(211, 207, 207);
    line-height: 26rem;
    padding: 0px 20px;
    box-sizing: border-box;
    
}
.man_people>span{
    width: 10rem;
    height: 10rem;
    float: right;
}
.man_people>span>img{
    width: 100%;
    height: 100%;
}
.null{
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;

}

#man_two,#man_thr,#man_four{
    width:90%;
    background-color: white;
    margin-top: 20px;
}
#man_four{
    margin-bottom: 20px;
}
#man_thr_one{
    width: 90%;
    border: 1px solid rgb(183, 180, 180);
    margin: 20px auto;
}
#man_thr_one>img{
    width: 100%;
    height: auto;
}
#san span{
    color: orange;
}
#san>p{
    margin: 10px 0px;
    text-indent: 20px;
}
#down{
    width: 100%;
    height: 34rem;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;

}
#down_one{
    flex: 1;
    display: flex;
    align-items: center;
}
#down_one>img{
    width: 100%;
    height: auto;
}
#down_two{
    flex: 3.5;
    font-size: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;
    box-sizing: border-box;
}
#down_thr,#down_four{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#down_thr>img,#down_four>img{
    width: 50%;
    height: auto;
}
#down_thr>p,#down_four>p{
    margin-top: 10px;
}
#down_thr>p{
    color: #5DCB96;
}
#down_four>p{
    color: #5BAEDE;
}

#foot{
    width: 100%;
    height: 90rem;
    background-color: #2F3130;
    padding: 20px;
    box-sizing: border-box;
}
#foot_one{
    color: #9ca19f;
    font-size: 10rem;
    border-bottom: 1px solid rgb(126, 124, 124);
}
#foot_two{
    display: flex;

}
.footer{
    width: 50%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    color: rgb(165, 161, 161);
    align-items: center;
    font-size: 10rem;
}
.footer>img{
    margin-right: 20px;
}
#foot_thr{
    text-align: center;
    color: rgb(155, 151, 151);
}








