*{
    margin: 0;
    padding: 0;
}
#top{
    width: 100%;
    height: 25rem;
    background-color: #FF8A00;
    display: flex;
    align-items: center;
}
#top_one{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_one>img{
    width: 50%;
    height: auto;
}
#top_two{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_two>img{
    width:40%;
    height: auto;
}
#top_the{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_the>img{
    width: 40%;
    height: auto;
}
/* ------------------------------------------- */
#shouye{
    width: 100%;
    height: 20rem;
    line-height: 20rem;
    font-size: 8rem;
    border-bottom: 1px solid rgb(188, 184, 184);
}
#shouye>span{
    font-weight: 600;
    margin-left: 20px;
}
/* --------------------------------------- */
#inp{
    width: 100%;
    height: 37rem;
   text-align: center;
   line-height: 37rem;
    background-color: #F5F5F5;
    position: relative;
   
}
#inp>input{
    width: 90%;
    height: 24rem;
    border: 1px solid rgb(179, 175, 175);
    outline: none;
}
#inp>div{
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 10rem;
    top: 8rem;
}
/* ----------------------------------------------- */
#address{
    width: 100%;
    height: 24rem;
    border-top: 1px solid rgb(199, 195, 195);
    border-bottom: 1px solid rgb(200, 196, 196);
    display: flex;
}
#address_one,#address_two,#address_thr,#address_four{
    width: 25%;
    height: 100%;
    font-size: 10rem;
    color: rgb(157, 153, 153);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
#span_one,#span_two,#span_thr,#span_four{
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid rgb(157, 156, 156);
    background-color: rgb(158, 155, 155);
}

/* --------------------------------------- */
#hury{
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #F5F5F5;
}
.hury_one{
    width: 100%;
    height: 80rem;
    display: flex;
    border-bottom: 1px solid orange;
}
.hury_pic{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hury_pic>img{
    width: 100%;
    height: auto;
}
.hury_zi{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0px;
    margin-left: 20px;
}
.strong{
    font-size: 8rem;
    font-weight: 600;
}
.green{
    width: 34rem;
    height: 12rem;
    border: 1px solid green;
    color: green;
    padding: 5px;
}
.orange{
    color: orange;
    float: right;
}
#foot{
    width: 100%;
    height: 90rem;
    background-color: #2F3130;
    padding: 20px;
    box-sizing: border-box;
}
#foot_one{
    color: #9ca19f;
    font-size: 10rem;
    border-bottom: 1px solid rgb(126, 124, 124);
}
#foot_two{
    display: flex;

}
.footer{
    width: 50%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    color: rgb(165, 161, 161);
    align-items: center;
    font-size: 10rem;
}
.footer>img{
    margin-right: 20px;
}
#foot_thr{
    text-align: center;
    color: rgb(155, 151, 151);
}
body{
    position: relative;
}
#moban{
    width: 100%;
    height: 100%;
    background-color: rgba(110, 107, 107, 0.5);
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    
}
#up{
    width: 100%;
    height: 190rem;
    background-color: white;
    
}
#down{
    width: 100%;
    height: 100%;
}
#toper{
    width: 100%;
    height: 20rem;
    display: flex;
}
#toper_one,#toper_two,#toper_thr,#toper_four{
    flex: 1;
    font-size: 10rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}
#toper_one{
    color: orange;
}

#toperspan_one{
    width: 0px;
    height: 0px;
    border-left: 5px solid white;
    border-top: 5px solid rgb(253, 250, 250);
    border-right: 5px solid white;
    border-bottom: 5px solid orange;
    transform: translateY(-5px);
}

#toperspan_two,#toperspan_thr,#toperspan_four{
    width: 0px;
    height: 0px;
    border-left: 5px solid white;
    border-top: 5px solid black;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    transform: translateY(-5px);
}

#toptwo{
    width: 100%;
    height: 100%;
    /* display: none; */
}
#toptwo_left{
    width: 25%;
    height: 100%;
    background-color: #F0F0F0;
    float: left;
}
#toptwo_right{
    width: 75%;
    height: 100%;
    float: left;
    background-color: white;
    display: block;
}
#top_er{
    width: 75%;
    height: 100%;
    float: left;
    background-color: white;
    display: none;
}
#p_left{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    color: orange;
    font-size: 10rem;
    font-weight: 600;
    background-color: white;
}
#p_right{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    font-size: 10rem;
    font-weight: 600;
    
}


#toptwo_right li ,#top_er li{
    list-style: none;
    width: 40%;
    font-size: 8rem;
    text-align: center;
    float: left;
    padding: 20px 0px;

}

.or_zi{
    color: orange;
}


/* --------------------------------------- */
#top_mon{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    background-color: white;
    box-sizing: border-box;
    display: none;
}
#top_mon>p{
    width: 100%;
    height: 13%;
    font-size: 8rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}

#top_house{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    background-color: white;
    box-sizing: border-box;
    display: none;
}
#top_house>ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#top_house>ul>li{
    font-size: 8rem;
    padding: 10px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(187, 185, 185);
}

.li_span{
    float: right;
    
}
#btn_li{
    width: 100%;
    height: 200%;
    border: none;
    outline: none;
    background-color: orange;
}





